<div class="content">
    <div class="hed_sty1">
        <span class="material-icons">people</span>Users Mgmt. (Annexure 10)
        <div class="spacer"></div>
        <a (click)="createUser()" class="btn">New User</a>
    </div>
    <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Search Panel
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p></p>
        <!-- <mat-action-row> -->
        <form [formGroup]="userForm" class="row">
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="border-red" style="width:100%">
                    <mat-label>District</mat-label>
                    <!-- <input matInput formControlName="district" placeholder="Select District"> -->
                            <mat-select formControlName="district" (selectionChange)="selectChange('district')" >
                                <mat-option *ngFor="let item of districts" [value]="item.district_id">
                                    {{item.district_name}}
                                </mat-option>
                            </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="border-red" style="width:100%">
                    <mat-label>Block</mat-label>
                    <!-- <input matInput formControlName="block" placeholder="Select Block"> -->
                            <mat-select formControlName="block" (selectionChange)="selectChange('block')">
                                <mat-option *ngFor="let item of finalBlockList" [value]="item.block_id">
                                    {{item.block_name}}
                                </mat-option>
                            </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="border-red" style="width:100%">
                    <mat-label>Facility</mat-label>
                    <!-- <input matInput formControlName="facility" placeholder="Select Facility"> -->
                            <mat-select formControlName="facility">
                                <mat-option *ngFor="let item of facilities" [value]="item.facility_id">
                                    {{item.facility_name}}
                                </mat-option>
                            </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="border-red" style="width:100%">
                    <mat-label>PHR Role</mat-label>
                    <input matInput formControlName="phrrole" placeholder="Select PHR Role">
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="border-red" style="width:100%">
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="border-red" style="width:100%">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput formControlName="number">
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="border-red" style="width:100%">
                    <mat-label>Role</mat-label>
                    <!-- <input matInput formControlName="role"> -->
                            <mat-select formControlName="role">
                                <mat-option *ngFor="let item of roles" [value]="item.role_id">
                                    {{item.role_name}}
                                </mat-option>
                            </mat-select>
                </mat-form-field>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-6 text-right">
                <a (click)="clearSearch()" class="btn">Clear</a>
            </div>
            <div class="col-sm-6">
                <a (click)="search()" href="javascript://" class="btn">Search</a>
            </div>
        </div>
        <!-- </mat-action-row> -->
    </mat-expansion-panel>
    <!-- <div class="pan_box"> -->
    <!-- <div class="filter_sec"> -->
    <!-- <div class="hed">Search Panel</div> -->
    <!-- <div class="row"> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->

</div>


<div class="content">
    <div class="d_flex m_b_25">
        <div class="spacer"></div>
        <a href="javascript://" class="link1 d_flex flex_align_center col_gap_5"><span
                class="material-icons">save_alt</span>Export</a>
    </div>
    <mat-card>
        <mat-card-content>
            <ngx-datatable class="bootstrap" [rows]="data" [columnMode]="ColumnMode.force" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="50" [limit]="limit" [selected]="selected"
                [selectionType]="SelectionType.checkbox" (activate)="onActivate($event)" (select)="onSelect($event)"
                (page)="paginate($event)" [count]="totalCount" [externalPaging]="true">
                <ngx-datatable-column [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                    [resizeable]="false">
                    <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                        let-selectFn="selectFn">
                        <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                        let-onCheckboxChangeFn="onCheckboxChangeFn">
                        <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="District"></ngx-datatable-column>
                <ngx-datatable-column name="Block"></ngx-datatable-column>
                <ngx-datatable-column [width]="250" name="Facility"></ngx-datatable-column>
                <ngx-datatable-column name="Name"></ngx-datatable-column>
                <ngx-datatable-column [width]="200" name="Mobile"></ngx-datatable-column>
                <ngx-datatable-column [width]="250" name="PHR Role"></ngx-datatable-column>
                <ngx-datatable-column [width]="100" name="Active" [sortable]="false">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        <i *ngIf="value" class="fas fa-check mr-3 ml-3" data-toggle="tooltip" data-placement="top"
                            title="Active" aria-hidden="true"></i>
                        <i *ngIf="!value" class="fas fa-xmark mr-3 ml-3" data-toggle="tooltip" data-placement="top"
                            title="Inactive" aria-hidden="true"></i>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [width]="100" name="Edit" [sortable]="false">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        <i class="fas ths fa-pen cursor-pointer mr-3 ml-3" data-toggle="tooltip" data-placement="top"
                            title="Edit" (click)="edit(value)" aria-hidden="true"></i>
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </mat-card-content>
    </mat-card>
    <div class="pan_box pad0">
    </div>
</div>