<div class="content">
    <p>Hi! You are logged in as State Admin.</p>
    <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Filters
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p></p>
        <form [formGroup]="filterForm" class="row">
            <div class="col-6">
                <mat-form-field appearance="outline" class="border-red" style="width:100%">
                    <mat-label>District</mat-label>
                    <!-- <input matInput formControlName="district" placeholder="Select District"> -->
                    <mat-select formControlName="district" (selectionChange)="selectChange('district')">
                        <mat-option *ngFor="let item of districts" [value]="item.district_id">
                            {{item.district_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline" class="border-red" style="width:100%">
                    <mat-label>Block</mat-label>
                    <!-- <input matInput formControlName="block" placeholder="Select Block"> -->
                    <mat-select formControlName="block">
                        <mat-option *ngFor="let item of finalBlockList" [value]="item.block_id">
                            {{item.block_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-6 text-right">
                <a (click)="clearSearch()" class="btn">Clear</a>
            </div>
            <div class="col-sm-6">
                <a (click)="search()" href="javascript://" class="btn">Search</a>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-tab-group animationDuration="200ms">
        <mat-tab label="User">
            <ng-template matTabContent>
                <div class="col-12 row">
                    <div class="col-6">
                        <table mat-table [dataSource]="users" class="mat-elevation-z8">

                            <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef> Role </th>
                              <td mat-cell *matCellDef="let element"> {{element.facility_type_name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="weight">
                              <th mat-header-cell *matHeaderCellDef> Total </th>
                              <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <div class="col-6">
                        <table mat-table [dataSource]="users" class="mat-elevation-z8">

                            <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef> PHR Role </th>
                              <td mat-cell *matCellDef="let element"> {{element.facility_type_name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="weight">
                              <th mat-header-cell *matHeaderCellDef> Total </th>
                              <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
                        </table>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Facility">
            <ng-template matTabContent>
                <p></p>
                <div class="col-12 row">
                    <div class="col-4">
                        <table mat-table [dataSource]="facilities" class="mat-elevation-z8">

                            <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef> Role </th>
                              <td mat-cell *matCellDef="let element"> {{element.facility_type_name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="weight">
                              <th mat-header-cell *matHeaderCellDef> Total </th>
                              <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]">
                        </mat-paginator>
                    </div>
                    <div class="col-4">
                        <mat-card style="height: 130px;">
                            <mat-card-header class="d-flex justify-content-center">
                                <h4> HSC Mapped to Parent Facility</h4>
                            </mat-card-header>
                            <mat-card-content class="d-flex justify-content-center pt-2">
                                <h1 style="font-size: 40px;"> {{facilitiesCountOfMappedHSC}} </h1>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-4">
                        <mat-card style="height: 130px;">
                            <mat-card-header class="d-flex justify-content-center">
                                <h4> HSC Not Mapped to Parent Facility</h4>
                            </mat-card-header>
                            <mat-card-content class="d-flex justify-content-center pt-2">
                                <h1 style="font-size: 40px;"> {{facilitiesCountOfUnMappedHSC}} </h1>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Street">
            <div class="d-flex justify-content-between pb-4">
                <div style="width: 49%;">
                    <mat-card style="height: 130px;">
                        <mat-card-header class="d-flex justify-content-center">
                            <h4> Streets Mapped to HSC</h4>
                        </mat-card-header>
                        <mat-card-content class="d-flex justify-content-center pt-2">
                            <h1 style="font-size: 40px;"> {{streetCountOfMappedHSC}}</h1>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div style="width: 49%;">
                    <mat-card style="height: 130px;">
                        <mat-card-header class="d-flex justify-content-center">
                            <h4> Streets Not Mapped To HSC</h4>
                        </mat-card-header>
                        <mat-card-content class="d-flex justify-content-center pt-2">
                            <h1 style="font-size: 40px;"> {{streetCountOfUnMappedHSC}} </h1>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="d-flex justify-content-between pb-4">
                <div style="width: 49%;">
                    <mat-card style="height: 130px;">
                        <mat-card-header class="d-flex justify-content-center">
                            <h4> Streets Mapped to Revenue Village</h4>
                        </mat-card-header>
                        <mat-card-content class="d-flex justify-content-center pt-2">
                            <h1 style="font-size: 40px;"> {{streetCountOfMappedHSC}} </h1>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div style="width: 49%;">
                    <mat-card style="height: 130px;">
                        <mat-card-header class="d-flex justify-content-center">
                            <h4> Streets Not Mapped To Revenue Village</h4>
                        </mat-card-header>
                        <mat-card-content class="d-flex justify-content-center pt-2">
                            <h1 style="font-size: 40px;"> {{streetCountOfUnMappedHSC}}</h1>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="justify-content-between d-flex">
                <div style="width: 49%;">
                    <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Village Details
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <table mat-table [dataSource]="streets">

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Role </th>
                                <td mat-cell *matCellDef="let element"> {{element.facility_type_name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef> Total </th>
                                <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </mat-expansion-panel>
                </div>
                <div style="width: 49%;">
                    <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Street Details
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p></p>
                        <table mat-table [dataSource]="streets">

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Role </th>
                                <td mat-cell *matCellDef="let element"> {{element.facility_type_name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef> Total </th>
                                <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </mat-expansion-panel>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Shop">
            <div class="d-flex justify-content-between pb-4">
                <div style="width: 49%;">
                    <mat-card style="height: 130px;">
                        <mat-card-header class="d-flex justify-content-center">
                            <h4> Mapped to Street</h4>
                        </mat-card-header>
                        <mat-card-content class="d-flex justify-content-center pt-2">
                            <h1 style="font-size: 40px;"> 
                                {{shopsCountOfMappedHSC}} </h1>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div style="width: 49%;">
                    <mat-card style="height: 130px;">
                        <mat-card-header class="d-flex justify-content-center">
                            <h4> Shops Not Mapped to Street</h4>
                        </mat-card-header>
                        <mat-card-content class="d-flex justify-content-center pt-2">
                            <h1 style="font-size: 40px;"> {{shopsCountOfUnMappedHSC}} </h1>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>